# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

tsukino
*.dblite
*.swp
cmake_install.cmake
CMakeCache.txt
CMakeLists.txt.user
CMakeFiles
Makefile
